/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #1b3b1a;
  height: 100vh;
  overflow-x: hidden;
}

section {
  padding: 40px 4%;
  padding-top: 0%;
  position: relative;
}

/* Animação suave ao carregar a página */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fadeIn 0.5s ease-out;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
}

h1.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

form input:focus {
  outline: none;
  border-color: #6b6b83;
  box-shadow: 0 0 10px rgba(107, 107, 131, 0.2);
}

/* TELA DE LOGIN */
section.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #1b3b1a;
}

/* Estilo do container login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  padding: 40px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  background-color: #163515;
  box-shadow: 0 10px 20px rgb(0, 0, 0 , 0.6);

}

.logo-login {
  text-align: center;
  margin-bottom: 20px;
}

.logo-login img {
  width: 170px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}

.logo-login h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
}

/* Estilo do formulário de login */
form.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.loginForm input {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 18px;
  transition: all 0.3s ease;
}

button.botao-login {
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #CDA434;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffba08;
}

.login-container {
  animation: fadeIn 0.5s ease-out;
}  

/* ESTILO DO MENU LATERAL */
.menu-lateral {
  padding: 30px 20px;
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #143613;
  border-right: 2px solid #141414;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 15px 15px 0;
  transition: transform 0.3s ease-in-out;
}

/* Transição suave do menu lateral quando aberto ou fechado */
.menu-lateral.fechado {
  transform: translateX(-80%); /* Mantém parte do menu visível */
}

.menu-lateral.aberto {
  transform: translateX(0);
}

/* Estilo da lista de navegação */
nav.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
  transition: transform 0.1s, background-color 0.1s;
  width: 100%;
  display: inline-block;
  text-align: center;
}

nav.menu ul li a:hover {
  transform: scale(1.05);
  background-color: #275725;
  border-radius: 10px;
}

/* Botão de recolher/expandir */
.toggle-btn {
  background-color: #275725;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, left 0.3s ease-in-out; /* Transição suave */
  position: fixed; /* Botão fica sempre fixo */
  top: 20px;
  left: calc(20vw + 10px); /* Fica ao lado do menu quando está expandido */
  z-index: 1000;
}

/* Quando o menu estiver fechado, o botão acompanha e se posiciona na borda */
.menu-lateral.fechado + .toggle-btn {
  left: 10px; /* Move o botão para a borda da tela */
}

.toggle-btn:hover {
  background-color: #143613;
}

/*ESTILO DOs DASHBOARDs*/
section.dashboards {
  width: 80vw; /* Ocupa 80% da largura da tela */
  margin-left: 20vw; /* Deixa espaço para o menu lateral */
  box-sizing: border-box; /* Inclui o padding na largura total */
}

section.dashboards .interface {
  padding: 30px;
  box-sizing: border-box;
}

section.dashboards .flex {
  display: flex;
  gap: 20px;
  justify-content: flex-start; /* Alinha os cartões à esquerda */
  flex-wrap: nowrap; /* Impede que os cartões quebrem de linha */
}

.dashboards .cartoes {
  color: #fff;
  padding: 40px;
  border-radius: 25px;
  margin-top: 45px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 350px; /* Largura dos cartões */
}

.dashboards .cartoes h2 {
  font-size: 28px;
  margin: 15px 0;
}

.conteudo-dashboard {
  padding: 20px;
  justify-content: center;
}

/*ESTILO DOS RELATÓRIOS*/
section.relatorios {
  width: 80vw; /* Ocupa 80% da largura da tela */
  margin-left: 20vw; /* Desloca a seção para o lado, respeitando os 20% do menu lateral */
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

section.relatorios .interface {
  padding: 30px;
  box-sizing: border-box;
}

section.relatorios .flex {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: flex-start;
}

.texto-relatorios {
  color: #fff;
  font-size: 20px;
  padding: 40px;
  padding-bottom: 10px;
}

section.relatorios a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

section.relatorios a li:hover {
  transform: scale(1.05);
}

.btn-relatorio button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #CDA434;
  font-size: 20px;
  margin: 20px 5px;
  transition: 0.2s;
}

.btn-relatorio button:hover {
  transform: scale(1.05);
}

/*TELA DE CADASTRO*/
section.cadastro {
  width: 80vw; /* Ocupa 80% da largura da tela */
  margin-left: 20vw; /* Desloca a seção para o lado, respeitando os 20% do menu lateral */
  box-sizing: border-box; /* Garante que padding e bordas sejam incluídos na largura total */
}

section.cadastro .interface {
  padding: 30px;
  box-sizing: border-box;
}

section.cadastro .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.texto-cadastro {
  color: #fff;
  font-size: 20px;
  padding: 40px;
  padding-bottom: 10px;
}

section.cadastro a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

section.cadastro a ul {
  width: 250px;
  text-align: center;
  margin-top: 5px;
}

section.cadastro a ul:hover {
  transform: scale(1.05);
  background-color: #CDA434;
  border-radius: 4px;
}

/*CADASTRO DE AÇÕES*/
section.cad-acao {
  width: 80vw; /* Ocupa 80% da largura da tela */
  margin-left: 20vw; /* Desloca a seção para o lado, respeitando os 20% do menu lateral */
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

section.cad-acao .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
}

section.cad-acao form div {
  margin-top: 10px;
}

.tipo-acao select {
  height: 30px;
  width: 400px;
}

section.cad-acao form input {
  height: 30px;
  width: 400px;
}

.descricao-acao textarea {
  height: 100px;
  width: 300px;
}

section.cad-acao form button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #CDA434;
  font-size: 20px;
  margin: 20px 5px;
  transition: 0.2s;
  color: #fff;
}

.btn-acao button:hover {
  transform: scale(1.05);
  background-color: #ffba08;
}

/*CADASTRO DE EQUIPAMENTO*/
section.cad-equipamento {
  width: 80vw; /* Ocupa 80% da largura da tela */
  margin-left: 20vw; /* Desloca a seção para o lado, respeitando os 20% do menu lateral */
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

section.cad-equipamento .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
}

section.cad-equipamento form div {
  margin-top: 10px;
}

.nome-equipamento input {
  height: 30px;
  width: 400px;
}

.tipo-equipamento select {
  height: 30px;
  width: 400px;
}

section.cad-equipamento form button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #CDA434;
  font-size: 18px;
  color: #fff;
  margin: 20px 5px;
  transition: 0.2s;
}

.btn-equipamento button:hover {
  transform: scale(1.05);
  background-color: #ffba08;
}

/*CADASTRO DE OPERADOR*/
section.cad-operador {
  width: 80vw; /* Ocupa 80% da largura da tela */
  margin-left: 20vw; /* Desloca a seção para o lado, respeitando os 20% do menu lateral */
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

section.cad-operador .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
}

section.cad-operador form div {
  margin-top: 10px;
}

.equipamento-hab select {
  height: 30px;
  width: 400px;
}

section.cad-operador form input {
  height: 30px;
  width: 400px;
}

section.cad-operador form button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #CDA434;
  font-size: 20px;
  color: #fff;
  margin: 20px 5px;
  transition: 0.2s;
}

.btn-operador button:hover {
  transform: scale(1.05);
  background-color: #ffba08;
}
